body {
  background-color: #1d1a05;
  color: #ffffff;
  margin: 0;
}

header ul {
  background-color: #c93c25;
  margin: 0;
  padding: 0px 150px;
}

header ul li{
  display: inline-block;
  padding: 25px;
  list-style: none;
}

a {
  color: inherit;
}

section {
  padding: 0px 160px;
}

.div-panda {
  width: 220px;
  height: 180px;
  margin: 15px;
  display: inline-block;
  position: relative;
}

.img-panda {
  width: 100%;
  height: 100%;
  border: 7px solid #5b5b5b;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}

.div-panda span {
  position: absolute;
  bottom: 150px;
  left: 20px;
  font-size: 20px;
}

main {
  padding: 10px 80px;
}

main ul li {
  background-color: #c93c25;
  display: inline-block;
  width: 300px;
  padding:  5px 20px;
  list-style: none;
  text-align: center;
}

main ul li a {
  text-decoration: none;
}

.texto {
  display: inline-block;
  width: 300px;
}

.bloque-textos {
  padding-left: 100px
}

.oculto {
  display: none;
}

.sin-visual {
  visibility: hidden;
}
